<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="EnableNHProfiler" value="N" />
    <add key="WindowsServiceName" value="HeartbeatServer" />
    <add key="ExecutableName" value="HeartbeatServer.exe" />
    <add key="WindowsServiceDisplayName" value="PayFlex HeartbeatServer" />
    <add key="ServiceBaseUrl" value="http://localhost:9122/HeartbeatServer" />
    <add key="MaxConcurrentCalls" value="10" />
    <add key="MaxConcurrentInstances" value="10" />
    <add key="UdpServerPort" value="8008" />
    <add key="ArchiveIntervalSeconds" value="10" />
    <add key="ArchiveDataFileName" value="Archive.hb"/>
    <add key="ServiceInfoDataFileName" value="ServicesInformation.hb"/>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <providers>
    </providers>
  </entityFramework>
</configuration>